Django
djangorestframework
djangorestframework_simplejwt
django-cors-headers
django-cloudinary-storage
cloudinary

fastapi
uvicorn
starlette

Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
Werkzeug

SQLAlchemy
alembic

mysqlclient
mysql-connector-python
PyMySQL
psycopg2-binary

requests
urllib3
certifi
charset-normalizer
idna

python-dotenv
load-dotenv

pydantic
typing-extensions

numpy
pandas
scipy
scikit-learn

tensorflow
keras
tensorboard

nltk
textblob
regex
joblib
tqdm

google-generativeai
google-ai-generativelanguage
google-api-python-client
google-auth
google-auth-httplib2
google-api-core

grpcio
protobuf

Pillow
h5py

pdfplumber
pdfminer.six
pypdfium2

cryptography
cffi
pycparser

PyJWT

anyio
h11
sniffio

Jinja2
MarkupSafe
itsdangerous
click

python-dateutil
tzdata
packaging

rich
Pygments
colorama

wheel
setuptools